[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
nltk = "*"
requests = "*"
pandas = "*"
jupyter = "*"
python-memcached = "*"

[dev-packages]

[requires]
python_version = "3.8"
